.MainPanel {
  justify-content: center;
  height: 100vh;
  flex: 10;
  display: flex;
  background-color: #312e2b;
  color: red;
  flex-direction: column;
}
.display {
  margin-left: 20px;
  display: flex;
  height: calc(
    calc(
        (
            (
                (
                    (
                        max(
                            26.4rem,
                            min(
                              min(
                                100dvw - 5rem - 1.2rem - 1.6rem -
                                  calc(1.6rem * 2) - 1rem - 3rem - 30rem - 0rem -
                                  0rem - 0rem,
                                100dvw - 5rem - 1.2rem - 1.6rem -
                                  calc(1.6rem * 2) - 1rem - 3rem - 30rem - 0rem -
                                  0rem - 0rem
                              ),
                              (
                                  100dvh - 0rem - 0rem - calc(4rem * 2) - 1.6rem -
                                    1.6rem - 1rem - 1rem - 0rem - 0rem
                                ) / 1
                            )
                          ) / 8
                      ) - (0.05rem - 1e-10rem)
                  ) * 4.9406564584124654e-324
              ) / 4.9406564584124654e-324
          ) * 8
      ) * 1
  );
  width: calc(
    (
        (
            (
                (
                    max(
                        26.4rem,
                        min(
                          min(
                            100dvw - 5rem - 1.2rem - 1.6rem - calc(1.6rem * 2) -
                              1rem - 3rem - 30rem - 0rem - 0rem - 0rem,
                            100dvw - 5rem - 1.2rem - 1.6rem - calc(1.6rem * 2) -
                              1rem - 3rem - 30rem - 0rem - 0rem - 0rem
                          ),
                          (
                              100dvh - 0rem - 0rem - calc(4rem * 2) - 1.6rem -
                                1.6rem - 1rem - 1rem - 0rem - 0rem
                            ) / 1
                        )
                      ) / 8
                  ) - (0.05rem - 1e-10rem)
              ) * 4.9406564584124654e-324
          ) / 4.9406564584124654e-324
      ) * 8
  );
}
