.MainPanel {
  align-items: center;
  height: 100vh;
  display: flex;
  background-color: #312e2b;
  color: red;
  flex-direction: row;
}
.display {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  gap: 0.8rem;

  .player {
    align-items: center;
    column-gap: 0.8rem;
    display: flex;
    font-family: "Blinker", sans-serif;
    font-weight: 600;
    color: white;
    img {
      width: 3rem;
      height: 3rem;
      border-radius: 7.5%;
    }
  }
}
