.text {
  width: 100px;
  height: 100px;
  background-color: skyblue;
}

.chessboard {
  display: grid;
  /* background-color: #87ceeb; white #eafffa, green #81b64c */
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
}

.chessboard .cell {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 80px;
  height: 80px;
  z-index: 0;
  cursor: pointer;
  caret-color: transparent;
}
.green-cell {
  background-color: #81b64c;
}
.white-cell {
  background-color: #eafffa;
}
.red-cell {
  background-color: #fa3838;
}

.click-cell {
  background-color: "#c7c704";
}

.cell img {
  max-width: 100%;
  max-height: 100%;
}
.cell button {
  max-width: 11.25vw;
  max-height: 11.25vh;
}

.Numbers {
  position: absolute;
  font-size: small;
  color: black;
  top: 5px;
  left: 5px;
  user-select: none;
}

.topleftborder {
  border-top-left-radius: 10px;
}
.toprightborder {
  border-top-right-radius: 10px;
}
.bottomleftborder {
  border-bottom-left-radius: 10px;
}
.bottomrightborder {
  border-bottom-right-radius: 10px;
}
